<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Something</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/mainStyle.css" th:href="@{/css/mainStyle.css}" type="text/css"/>
    <!-- th:href это модифицирующий атрибут, который вычисляет @ссылку(по которой страница обращается к .css файлу)
    и передаёт это значение в href -->
</head>
<body>
<form method="post" th:object="${inputCode}">
    <!-- th:object это объект модели которую мы передали в get-запросе из контроллера -->
    <textarea id="textarea" name="Code" placeholder="Code" th:utext="${inputCode.getCode()}"></textarea>
    <div class="btn">
        <button type="submit">Check</button>
    </div>
    <table class="tcont countLines">
        <tr>
            <th>j</th>
            <th>Оператор</th>
            <th>Кол-во</th>
            <th>j</th>
            <th>Операнд</th>
            <th>Кол-во</th>
        </tr>
        <tr th:each="instance: ${metrics}">
            <td></td>
            <td th:text="${instance.key}">smth</td>
            <td th:text="${instance.getValue().toString()}">smth</td>
        </tr>
    </table>
</form>

</body>
</html>